<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhx.agi.infra.dao.ChatMemoryMapper">

    <select id="selectByUserIdAndConversationId" resultType="com.hhx.agi.infra.po.ChatMemoryPO">
        SELECT *
        FROM chat_memory
        WHERE user_id = #{userId}
          AND conversation_id = #{conversationId}
        ORDER BY id
    </select>

    <delete id="deleteByUserIdAndConversationId">
        DELETE FROM chat_memory
        WHERE user_id = #{userId}
          AND conversation_id = #{conversationId}
    </delete>

    <select id="selectAllConversationIdsByUserId" resultType="java.lang.String">
        SELECT DISTINCT conversation_id
        FROM chat_memory
        WHERE user_id = #{userId}
    </select>

</mapper>